.upper-first::first-letter {
  text-transform: uppercase;
}

/* Toggle Checkbox */
.toggle-checkbox:checked {
  @apply right-0 border-sky-400;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-sky-400;
}

.animation-down-out {
  animation: downOut 300ms ease-in-out forwards;
  transform-origin: center center;
}

@keyframes downOut {
  0% {
    transform: translateZ(200px) transLateY(40px);
  }
  80% {
    transform: translateZ(-10px) transLateY(0px);
  }
  100% {
    transform: translateZ(0px) transLateY(0px);
  }
}
