/* Toast */
/* 24px - padding of Toast Viewport */
@keyframes toast-slide-in {
  from {
    transform: translateX(calc(100% + 24px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 24px));
  }
}

@keyframes toast-swipe-out {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + 24px));
  }
}

@keyframes toast-fade-out {
  from: {
    opacity: 1;
  }
  to: {
    opacity: 0;
  }
}

@keyframes toast-fade-in {
  0%: {
    opacity: 0;
  }
  ,
  100%: {
    opacity: 1;
  }
}

/* Dropdown */
@keyframes slide-up-n-fade {
  '0%': {
    opacity: 0;
    transform: translateY(2px);
  }
  '100%': {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-n-fade {
  '0%': {
    opacity: 0;
    transform: translateX(-2px);
  }
  '100%': {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-n-fade {
  '0%': {
    opacity: 0;
    transform: translateY(-2px);
  }
  '100%': {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-n-fade {
  '0%': {
    opacity: 0;
    transform: translateX(2px);
  }
  '100%': {
    opacity: 1;
    transform: translateX(0);
  }
}
