@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700&display=swap");

:root {
  --font-primary: "Hanken Grotesk", "Familjen Grotesk", "Jost", "Space Grotesk",
    "IBM Plex Sans", "Figtree", "Input Sans", "Barlow", "Public Sans", "Inter",
    sans-serif, system-ui;

  --prose-width: 65ch;

  --size-1: 0.5em;
  --size-2: 1em;
}

*,
html {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 1em;
  margin-block-end: 1rem;
}

/* Flow for some extra spaces in content */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

:is(body) {
  background-color: var(--color-bg-primary);
  color: var(--color-tx-normal);
}

/* Header */
.header {
  height: var(--header-height, 4rem);
  background-color: var(--color-bg-secondary);
  display: flex;
  align-items: center;
  padding-inline: var(--size-2);
}

.logo {
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--color-tx-muted);
}

.search {
  margin-inline-start: auto;

  & .input {
    background-color: var(--color-bg-secondary);
    border: 2px solid var(--color-ui-normal);
  }
}

/* Show all entries in the dict */
.entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1ch;
}

.entry {
  background-color: var(--color-bg-secondary);
  padding: var(--size-1);
  border-radius: 0.25em;
}
