{
  "rules": {
    "no-console": [
      2,
      {
        "allow": [
          "error"
        ]
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "next",
    "prettier"
  ],
  "env": {
    "es2020": true,
    "jest": true
  }
}
