{
  "rules": {
    "no-console": [
      2,
      {
        "allow": [
          "error"
        ]
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@next/next/recommended"
  ],
  "env": {
    "es2020": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  }
}
